<section *ngIf="timesheetsUninvoiced">

  <mat-card *ngFor="let timesheet of timesheetsUninvoiced" [class.selected]="isSelected(timesheet.id)">

    <!-- titles -->
    <mat-card-header>
      <mat-card-title matTooltip="{{ timesheet.startDate | date: 'short' }} - {{ timesheet.endDate | date: 'short' }}">
        <strong>{{ timesheet.durationFriendly() }}</strong> on {{ timesheet.startDate | date }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ getCardNameByCardId(timesheet.idCard) }}
      </mat-card-subtitle>
    </mat-card-header>

    <!-- actions -->
    <mat-card-actions>
      <button (click)="edit(timesheet)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="delete(timesheet)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <mat-checkbox (change)="toggleTimesheetSelected(timesheet)"></mat-checkbox>
    </mat-card-actions>
  </mat-card>

</section>

<div *ngIf="showFab()" class="fab-container">
  <button mat-fab (click)="invoice()" color="primary">
    <mat-icon aria-label="Mark As Invoiced" matTooltip="Mark as invoiced">attach_money</mat-icon>
  </button>
</div>

<div *ngIf="showFab()" class="summary mat-body-1">
  <strong>Total: </strong>{{ totalDurationFriendly }}
</div>
