section {
  overflow: hidden;
  padding: 16px;
}

.selected {
  background-color: rgb(247, 247, 247);
}

mat-card {
  margin-bottom: 16px;
}

mat-checkbox {
  float: right;
  margin: 12px 12px 0px 0px;
}

.fab-container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  margin: 16px;

  .small {
    transform: scale(0.7);
  }
}
