select {
  border-top: 1px solid transparent;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #949494;
  
  background-color: white;
  padding: 3px 3px 0px 3px;
  font-size: 1.2em;
  -webkit-appearance: none;
  border-radius: 0px;
}
