<div>
  <h1 class="mat-display-1">
    Terms And Conditions
  </h1>
  <p class="mat-body-1">By using this app you agree to the following terms and conditions:</p>
  <ol class="mat-body-1">
    <li>You accept that this app is a free tool and as such comes with absolutely no warranty as far as permissable by law</li>
    <li>No calculations performed by this app should be relied upon and you should check them before using them, for example in time value invoicing</li>
    <li>We accept no liability or responsibility for any damages resulting from the use of this app</li>
    <li>You acknowledge that I hate writing disclaimers but it's an unfortunately necessary part of living in a functioning society</li>
    <li>In the result of an earthquake or dinosaur attack, this app will not save you</li>
  </ol>
  <button (click)="back()" mat-raised-button color="accent">Back</button>

</div>

