<div *ngIf="loading">Loading...</div>

<div *ngIf="!loading" class="track-container">
  <section *ngIf="boards">
    <mat-nav-list *ngFor="let board of boards">
      <a mat-list-item (click)="selectBoard(board)" [class.selected]="trackService.selectedBoard && trackService.selectedBoard.id == board.id">
        <div class="max-width">{{ board.name }}</div>

        <!-- view timesheets button -->
        <button *ngIf="trackService.selectedBoard && trackService.selectedBoard.id == board.id && viewMode == 'timer'" 
            mat-icon-button (click)="viewTimesheets()" matTooltip="View Timesheets">
          <mat-icon aria-label="View Timesheets">list</mat-icon>
        </button>

        <!-- view cards -->
        <button *ngIf="trackService.selectedBoard && trackService.selectedBoard.id == board.id && viewMode == 'timesheets'" 
            mat-icon-button (click)="viewCards()" matTooltip="View Cards">
          <mat-icon aria-label="View Timesheets">timer</mat-icon>
        </button>

      </a>
    </mat-nav-list>
  </section>

  <timey-cards [boardChanged]="boardChanged" *ngIf="viewMode == 'timer' && trackService.selectedBoard"></timey-cards>
  
  <timey-timesheets *ngIf="viewMode == 'timesheets'"></timey-timesheets>

</div>
