.selected {
  background-color: #e3e3e3 !important;
}

.track-container {
  section {
    width: 50%;
    float: left;
  }
}

mat-nav-list {
  .max-width {
    width: 100%;
  }

  .star {
    color: #fcb933;
    margin-right: 8px;
  }
}

.board {
  padding-left: 8px
}

.background {
  position: absolute;
  left: 0px;
  width: 10px;
  height: 100%;
  background-size: cover;
  background-position: center center;
  top: 0px;
}

timey-loading {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
